
/****GLOBAL STUFF****/
html, html a {
	font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

p {
	color: #aeadad;
	font-family: 'Comfortaa', sans-serif;
	font-size: 1.25em;
	line-height: 2em;
}

h1 {
	color: #696868;
	font-family: 'colors_of_autumnregular', Arial, sans-serif;
	font-size: 2.4em;
	margin: 0.2em 0;
	line-height: 1.3em;
	text-align: center;
}

h2 {
	color: #696868;
	font-family: 'colors_of_autumnregular', Arial, sans-serif;
	font-size: 1.875em;
	margin: 0.2em 0 1.5em 0;
	line-height: 1.3em;
	text-align: center;
}

section {
	border-bottom: 2px solid #4b4b4b;
	display: inline-block;
	padding-top: 5em;
	padding-bottom: 5em;
	width: 100%;
}

/****HEADER IMG****/

header h1 {
	color: #fff;
}

#header {
	width: 100%;
	height: 100%;
}

#header {
	background: url("../img/city-scape.jpg");
	background-position: center center;
	background-size: cover;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

#header>div {
	margin: 4em auto;
	max-width: 270px;
}

#header>div>div>img {
	width: 100%;
}

#triangle {
	margin: 0 auto;
	margin-top: 10%;
	width: 0; 
	height: 0; 
	border-bottom: 120px solid green; 
	border-left: 60px solid transparent; 
	border-right: 60px solid transparent; 
}
/****TOP NAVIGATION****/

#nav {
	width: 100%;
	position: absolute;
	top:0;
	left:0;
	z-index: 2;
}

#logo-container {
	background-color: #36e7ea;
	width: 20%;
	float: left;
}

.main-nav {
	background-color: #4b4b4b; 
	width: 80%;
}

#nav > div.main-nav {
	background-color: #4b4b4b;
	width: 80%;
	float: right;
}

#logo-container > a > img {
	border: 0;
	display: inline;
	vertical-align: middle;
	width: 100%;
}

#logo-container > a {
	width: 56px;
	display: block;
	float: right;
	margin: 8px 30px;

}

#nav ul {
	float: right;
	margin: 1.5em 4em 1.5em 0;
}

#nav li {
	display: block;
	position: relative;
	float: left;
}

#nav ul li a {
	color: #fff;
	font-family: 'Comfortaa', sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	padding: 25px;
}

#nav ul li a:hover {
	color: #fff222;
	text-decoration: none;
}

/****MAIN****/

main {
	background: #fff;
	position: relative;
}

/****INTRODUCTION****/

.introduction p {
	font-size: 2em;
	line-height: 1.5em;
}

/****SKILLS****/

.skills h1 {
	margin-bottom: 1.9047619em;
}

.fa-lg {
	color: #b2fafb;
	font-size: 8.475em;
	left: -1px;
	position: absolute;
	text-align: center;
	top: 10px;
	width: 100%;
	z-index: -1;
}

section.skills > div.container > div.row > div {
	z-index: 0;
}

/****WORK****/

/*initial position of group of thumbnails. amking up for the 45deg rotation*/
div.work-thumbs {
	margin-top: 120px;
	margin-bottom: 63px;
}

.row2, .row3 {
	margin-top: -4.871794%;
}

/*row 1*/
section.work > div.work-thumbs div.row1 > a:nth-child(1) {
	margin-left: 39.487179%;
	margin-top: -4.871794%;
}

/*row 2*/

section.work > div.work-thumbs div.row2 > a:nth-child(1) {
	margin-left: 23.418803%;
}
section.work > div.work-thumbs div.row2 > a:nth-child(2) {
	margin-left: 10.8547%;
}

/*row 3*/

section.work > div.work-thumbs div.row3 > a:nth-child(1) {
	margin-left: 7.179487%;
}

section.work > div.work-thumbs div.row3 > div, section.work > div.work-thumbs div.row3 > a:nth-child(3) {
	margin-left: 10.8547%;
}

section.work > div.work-thumbs a {
	display: inline-block;
	position: relative;
	vertical-align: top;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
}

section.work > div.work-thumbs a:after {
	background-color: none;
	content:"";
	position: absolute;
	top: 15px;
	bottom: 15px;
	left: 15px;
	right: 15px;
	transition: background .1s ease-out;
	-moz-transition: background .1s ease-out;
	-ms-transition: background .1s ease-out;
	-webkit-transition: background .1s ease-out;
}

section.work > div.work-thumbs a:hover:after {
	background-color: rgba(255, 255, 255, .7);
}

div.work-thumbs div div {
	display: inline-block;
	width: 246px;
	height: 246px;
	width: 246px%;
	padding: 0px;
	position: relative;
	overflow: hidden;
	vertical-align: top;

	}



div.work-thumbs div img {
	max-width: 145%;
	margin-top: -25%;
	margin-left: -23%;
	min-width: 360px;
	min-height: 360px;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
	transform: rotate(-45deg);
}

section.work > div > div > a > div > h1 {
	position: absolute;
	top: 42%;
	left: 34%;
	opacity: 0;
	z-index: 1;
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

section.work > div.work-thumbs a:hover h1 {
	opacity: 1;
}

div.work-thumbs div h1.work-title {
	opacity: 1;
	transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}

